<div class="container" style="width:100%;margin:0;padding:7px;background:rgb(255, 255, 255,0.7)">
  <h4 style="width:100%;padding:5px">
    Launched in 2007, BookFast is an online movie & event’s ticketing brand. It is headquartered in Mumbai, Maharashtra. It also has offices in New Delhi, Bangalore, Hyderabad, Chennai, and Kolkata. The website caters to ticket sales for movies, plays, concerts and sporting events via the online platform.
    Born as Big Tree Entertainment, BookFast was founded by Ashish Hemrajani, Parikshit Dar and Rajesh Balpande, all three alumni of Sydenham Institute of Management Studies, Research and Entrepreneurship Education, University of Mumbai.<br>
     They had been working for J.W. Thompson, SPAR, and Chatterjee Soros Group respectively before they hung up their corporate boots to start BookFast officially in 2007. The major purpose of this start-up was to bring the concept of online movie ticketing to India.
<br>
    Now after its expansion, the company also offers online ticketing solutions for theatres, 
    events, concerts, and sports. It also employs more than 900+ people pan India.
  <br>
  Online movie ticket booking platform BookFast has raised Rs 550 crore in its fourth round of funding led by Stripes Group, a US based fund. Existing investors like Network 18, Accel Partners, and SAIF Partners also participated in the round.

The latest round of funding has raised the valuation of Bookfast, owned by Bigtree Entertainment, to Rs

3,000 crore from R1,000 crore. The company had raised Rs 150 crore in 2014.
 </h4>

</div>
