<div class="container">
  <div class="row">
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  
  <div class="tile"> 
    <img src='/assets/bb.jpg'>
    <div class="text">
    <h1></h1>
    <h2 class="animate-text"></h2>
    
  <br>
  <br>
      
      <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
    
    </div>
    
   </div>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

   <div class="tile"> 
      <img src='/assets/dha.jpg'>
      <div class="text">
      <h1></h1>
      <h2 class="animate-text"></h2>
      
    <br>
    <br>
        
    <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
      
      </div>
    </div>
     </div>
     <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

     <div class="tile"> 
        <img src='/assets/pad.jpg'>
        <div class="text">
        <h1></h1>
        <h2 class="animate-text"></h2>
        
      <br>
      <br>
          
      <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>>
        
        </div>
        
       </div>

      </div>
       <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

       <div class="tile"> 
          <img src='/assets/man.jpg'>
          <div class="text">
          <h1></h1>
          <h2 class="animate-text"></h2>
          
        <br>
        <br>
            
        <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
          </div>
          
         </div>
         </div>

         <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

            <div class="tile"> 
               <img src='/assets/par.jpg'>
               <div class="text">
               <h1></h1>
               <h2 class="animate-text"></h2>
               
             <br>
             <br>
                 
             <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
               
               </div>
               
              </div>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

                  <div class="tile"> 
                     <img src='/assets/shaadi.jpg'>
                     <div class="text">
                     <h1></h1>
                     <h2 class="animate-text"></h2>
                     
                   <br>
                   <br>
                       
                   <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
                     
                     </div>
                     
                    </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

                        <div class="tile"> 
                           <img src='/assets/pad.jpg'>
                           <div class="text">
                           <h1></h1>
                           <h2 class="animate-text"></h2>
                           
                         <br>
                         <br>
                             
                         <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
                           </div>
                           
                          </div>
                          </div>
                          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

                              <div class="tile"> 
                                 <img src='/assets/kaa.jpg'>
                                 <div class="text">
                                 <h1></h1>
                                 <h2 class="animate-text"></h2>
                                 
                               <br>
                               <br>
                                   
                               <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
                                 </div>
                                 
                                </div>
                                </div>

                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

                                    <div class="tile"> 
                                       <img src='/assets/vtv.jpg'>
                                       <div class="text">
                                       <h1></h1>
                                       <h2 class="animate-text"></h2>
                                       
                                     <br>
                                     <br>
                                         
                                     <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
                                       </div>
                                       
                                      </div>
                                      </div>
                                      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

                                          <div class="tile"> 
                                             <img src='/assets/vv.jpg'>
                                             <div class="text">
                                             <h1></h1>
                                             <h2 class="animate-text"></h2>
                                             
                                           <br>
                                           <br>
                                               
                                           <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
                                             </div>
                                             
                                            </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

                                                <div class="tile"> 
                                                   <img src='/assets/ay.jpg'>
                                                   <div class="text">
                                                   <h1></h1>
                                                   <h2 class="animate-text"></h2>
                                                   
                                                 <br>
                                                 <br>
                                                     
                                                 <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
                                                   </div>
                                                   
                                                  </div>
                                                  </div>
                                                  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">  

                                                      <div class="tile"> 
                                                         <img src='/assets/bb.jpg'>
                                                         <div class="text">
                                                         <h1></h1>
                                                         <h2 class="animate-text"></h2>
                                                         
                                                       <br>
                                                       <br>
                                                           
                                                       <button type ="button"class="btn btn-success" style="margin-top:250px" (click)="booknow()"onclick="">booknow!</button>
                                                         </div>
                                                         
                                                        </div>
                                                        </div>


         
  


  
  </div>
    
    
  